.card {
  min-width: 275px;
  max-width: 500px;
  padding: 10px;
  margin-bottom: 10px;
}
.cardContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 10px;
  width: 80%;
}
.title {
  font-size: 14px;
  font-weight: bold;
}
.grey {
  color: grey;
}
.logo {
  width: 40px;
  height: 40px;
}
